@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
* {
  font-family: "Outfit", sans-serif;
  /* background-color: hsl(217, 54%, 11%); */
}

.attribution {
    margin-top: -80px;
    font-size: 15px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: hsl(217, 54%, 11%);
}

.container {
  background-color: hsl(216, 50%, 16%);
  border-radius: 20px;
  width: 400px;
  height: 42vh;
  padding: 25px;
  margin: auto;
}

p {
  color: #647a99;
  font-size: 1.4rem;
}

.blockImage {
  width: 400px;
  border-radius: 12px;
}

.avaterImg {
  padding-top: 20px;
  width: 50px;
}

h1 {
  color: white;
  padding-top: 1x;
  font-size: 1.6rem;
}

h2 {
  font-size: 1.5rem;
  color: #647a99;
}

.different {
  color: white;
}

.iconClass {
  display: flex;
  align-content: center;
  justify-content: space-between;
  margin: -15px;
  padding-bottom: 15px;
}

a {
  text-align: left;
  color: #647a99;
}

.pfpImage {
  display: flex;
  text-align: center;
  font-size: 1.3rem;
  color: #647a99;
}

.pfpImage img {
  margin-right: 10px;
}

.pfpImage p {
    padding: 5px;
}

.pfpImage img {
  width: 50px;
  height: 50px;
}

hr {
  background-color: #647a99;
  opacity: 10%;
}

svg {
  padding-right: 10px;
}

span {
  font-size: 1.2rem;
}

.ETH {
  color: #02fcf7;
}

.iconClass a {
  padding: 20px;
}
